html {
   background-color: black;
   padding: 0;
   margin: 0;
}
body {
   margin: 0;
   padding: 0;
}
canvas {
   image-rendering: pixelated;
   /* height: 100%;
   width: 100%;
   position: relative; */
}
